<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcceptsFiles</key>
	<true/>
	<key>AcceptsText</key>
	<false/>
	<key>Creator</key>
	<string>Platypus-4.8</string>
	<key>DropSuffixes</key>
	<array>
		<string>*</string>
	</array>
	<key>Droppable</key>
	<true/>
	<key>InterpreterArgs</key>
	<array/>
	<key>OutputType</key>
	<string>Text Window</string>
	<key>PromptForFileOnLaunch</key>
	<false/>
	<key>RemainRunningAfterCompletion</key>
	<true/>
	<key>RequiresAdminPrivileges</key>
	<true/>
	<key>ScriptArgs</key>
	<array/>
	<key>ScriptInterpreter</key>
	<string>/bin/sh</string>
	<key>Secure</key>
	<true/>
	<key>TextBackground</key>
	<string>#000000</string>
	<key>TextEncoding</key>
	<integer>4</integer>
	<key>TextFont</key>
	<string>Monaco</string>
	<key>TextForeground</key>
	<string>#06d933</string>
	<key>TextSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKIHCFUkbnVsbE8RCw0jIS9iaW4vc2gKaG91cj0kKGRhdGUgKyIlSCIpCiAKIyBp
	ZiBpdCBpcyBtaWRuaWdodCB0byBtaWRhZnRlcm5vb24gd2lsbCBzYXkgRydtb3JuaW5n
	CmlmIFsgJGhvdXIgLWdlIDAgLWEgJGhvdXIgLWx0IDEyIF0KdGhlbgogIGg9IiBNb3Ju
	aW5nIgojIGlmIGl0IGlzIG1pZGFmdGVybm9vbiB0byBldmVuaW5nICggYmVmb3JlIDYg
	cG0pIHdpbGwgc2F5IEcnbm9vbgplbGlmIFsgJGhvdXIgLWdlIDEyIC1hICRob3VyIC1s
	dCAxOCBdIAp0aGVuCiAgaD0iQWZ0ZXJub29uIgplbHNlICMgaXQgaXMgZ29vZCBldmVu
	aW5nIHRpbGwgbWlkbmlnaHQKICBoPSJFdmVuaW5nIgpmaQogV29ya0Rpcj0iL1N5c3Rl
	bS9MaWJyYXJ5L0V4dGVuc2lvbnMiCiBUZW1wPSIvdG1wL2tleHRkaXIiCiBLZXJuT1NS
	ZWxlYXNlPWBzeXNjdGwgLW4ga2Vybi5vc3JlbGVhc2UgfCBjdXQgLWQgIi4iIC1mMWAK
	Qm9vdFBsaXN0UGF0aD0iL0xpYnJhcnkvUHJlZmVyZW5jZXMvU3lzdGVtQ29uZmlndXJh
	dGlvbi9jb20uYXBwbGUuQm9vdC5wbGlzdCIKa2V5X2tleHRfZGV2X21vZGVfMT0xCmtl
	eV9yb290bGVzcz0xCkVhc3lLZXh0PSIyLjAiCiAgICBlY2hvCiAgICBlY2hvICAgICAi
	KioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKiIK
	ICAgIGVjaG8gICAgICIqICAgICAgICAgICAgICBHb29kICAkaCAgICAgICAgICAgICAg
	ICAgICAgKiIKICAgIGVjaG8gICAgICIqICAgIFdlbGNvbWUgVG8gRWFzeUtleHQgVXRp
	bGl0eSB2JEVhc3lLZXh0ICAgICAgICAgICAqIgogICAgZWNobyAgICAgIiogICAgICAg
	TWFjIE9TIFggRWwgQ2FwaXRhbiBTdXBwb3J0ZWQgICAgICAgICAgICoiICAgICAgIAog
	ICAgZWNobyAgICAgIiogICBTaW1wbGUgYW5kIFN1cGVyIEZhc3QgS2V4dCBJbnN0YWxs
	ZXIgYW5kICAgICoiCiAgICBlY2hvICAgICAiKiAgICAgICAgUmVwYWlyIEFsbCBQZXJt
	aXNzaW9ucyAgICAgICAgICAgICAgICAgKiIKICAgIGVjaG8gICAgICIqICAgQ3JlYXRl
	ZCBieSBEZWVwYWsgYWthIGluc2FuZWx5ZGVlcGFrICAgICAgICAqIgogICAgZWNobyAg
	ICAgIiogICBDb3B5cmlnaHQgKGMpIGluc2FuZWx5RGVlcGFrLndvcmRwcmVzcy5jb20g
	ICoiCiAgICBlY2hvICAgICAiKiAgICAgICAgQWxsIHJpZ2h0cyByZXNlcnZlZC4gICAg
	ICAgICAgICAgICAgICAgKiIKICAgIGVjaG8gICAgICIqKioqKioqKioqKioqKioqKioq
	KioqKioqKioqKioqKioqKioqKioqKioqKioqKioqIgogICAgZWNobwogICAgZWNobwpl
	Y2hvCgpub3c9IiQoZGF0ZSkiCmVjaG8gIiRub3ciCmVjaG8gIkRyYWcgRmlsZXMgb24g
	V2luZG93IHRvIFByb2Nlc3MgdGhlbSIKZWNobwppZiBbICQjIC1lcSAwIF0KICAgIHRo
	ZW4KICAgICAgICBleGl0IDAKZmkKc3RhcnR0aW1lPSIkKGRhdGUgKyVzKSIKbWtkaXIg
	IiR7VGVtcH0iCnNsZWVwIDEKY3AgLVJmICIkQCIgIiR7VGVtcH0iCmVjaG8gIlByZXBh
	cmluZyBJbnN0YWxsYXRpb24gZm9yOiIKZm9yIGZpbGUgaW4gIiR7VGVtcH0iLyoua2V4
	dDsgCmRvIAplY2hvICIke2ZpbGUjIyovfS4uLi4iOwpkb25lCgpzbGVlcCAxCmlmIFsg
	LWUgIiR7M30vU3lzdGVtL0xpYnJhcnkvRXh0ZW5zaW9ucy8ke2ZpbGUjIyovfSIgIF07
	IHRoZW4KZWNobyAiRm91bmQgJHtmaWxlIyMqL30gQmFja2luZyBVcCBFeGlzdGluZyBL
	ZXh0KHMpLi4uLiIKbWtkaXIgLXAgfi9EZXNrdG9wL0tleHRfQmFja3VwLyIkbm93Igpm
	b3IgZmlsZSBpbiAiJHtUZW1wfSIvKi5rZXh0OyAKZG8KbXYgLWYgIiR7V29ya0Rpcn0i
	LyR7ZmlsZSMjKi99IH4vRGVza3RvcC9rZXh0X2JhY2t1cC8iJG5vdyI7CmRvbmUKZmkK
	c2xlZXAgMQplY2hvICJTZXR0aW5nIFBlcm1pc3Npb25zIGZvciA6ICR7ZmlsZSMjKi99
	Li4uLi4gIgpjaG93biAtUiByb290OndoZWVsICIke1RlbXB9Ii8qLmtleHQKY2htb2Qg
	LVIgNzU1ICIke1RlbXB9Ii8qLmtleHQKc2xlZXAgMQplY2hvICJJbnN0YWxsaW5nICA6
	ICR7ZmlsZSMjKi99Li4uLiIKY3AgLVJmICIke1RlbXB9Ii8qLmtleHQgIiR7V29ya0Rp
	cn0iCmVjaG8gIkNsZWFuaW5nIE9sZCBTeXN0ZW0gYW5kIEtleHRzIENhY2hlcy4uLiIK
	cm0gLWYgIiR7M30vU3lzdGVtL0xpYnJhcnkvQ2FjaGVzL2NvbS5hcHBsZS5rZXh0LmNh
	Y2hlcy9TdGFydHVwL2tlcm5lbGNhY2hlIgpzbGVlcCAxCmVjaG8gIlJlcGFpcmluZyBQ
	ZXJtaXNzaW9ucyBmb3IgOiAke2ZpbGUjIyovfS4uLi4uICIKY2hvd24gLVIgcm9vdDp3
	aGVlbCAiJHszfS9TeXN0ZW0vTGlicmFyeS9FeHRlbnNpb25zIgpjaG1vZCAtUiA3NTUg
	IiR7M30vU3lzdGVtL0xpYnJhcnkvRXh0ZW5zaW9ucyIKZWNobyAiQ2xlYW5pbmcgVXAg
	VGVtcG9yYXJ5IGZpbGVzLi4uLiIKcm0gLVJmICIke1RlbXB9IgpzbGVlcCAxCmVjaG8g
	IkludmFsaWRhdGluZyBDYWNoZXMuLi4uIgplY2hvICJSZWJ1aWxkaW5nIEtleHQgQ2Fj
	aGUuLi4uIgplY2hvICJVcGRhdGluZyBTeXN0ZW0gQ2FjaGUuLi4uIgp0b3VjaCAiJHsz
	fS9TeXN0ZW0vTGlicmFyeS9FeHRlbnNpb25zIgpzdWRvIGtleHRjYWNoZSAtc3lzdGVt
	LWNhY2hlcyAtdiAyCgoKZWNobyAgIlN5bmNpbmcgRGlzayBjYWNoZSAuLi4gIgoKZmlu
	aXNodGltZT0iJChkYXRlICslcykiCmVjaG8gIlRvdGVsIFVzZWQgVGltZSA9ICQoKCRm
	aW5pc2h0aW1lLSRzdGFydHRpbWUpKSBzZWMuIgplY2hvCnNsZWVwIDEKCmVjaG8gIiEh
	SW5zdGFsbGF0aW9uIFN1Y2Nlc3NmdWxseSBDb21wbGV0ZWQgISEiCmVjaG8gIiFQbGVh
	c2UgUmVzdGFydCBZb3VyIENvbXB1dGVyISIKZWNobyAiSGF2ZSBhIE5pY2UgJGggLi4u
	LiIKZWNobyAiR29vZCBsdWNrIC4uLkVuam95IC4uLi4iIApleGl0IDBfEA9OU0tleWVk
	QXJjaGl2ZXLRCwxUcm9vdIABAAgAEQAaACMALQAyADcAOgBAC1ELYwtmC2sAAAAAAAAC
	AQAAAAAAAAANAAAAAAAAAAAAAAAAAAALbQ==
	</data>
	<key>TextSize</key>
	<real>10</real>
</dict>
</plist>
